@import "tailwindcss";

:root {
  --background: #f5f7fa;
  --foreground: #000000;
  --primary-blue: #3676BA;
  --primary-black: #000000;
  --highlight-yellow: #E1B84F;
  --hero-bg: rgb(126, 185, 244);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
